@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .carousel .control-arrow {
  background-color: #201e1e !important;
  padding: 10px;
  opacity: 0.1; 
}

.carousel .control-arrow:hover {
  background-color: #6161611f; 
  opacity: 0.5; 
} */


.fullScreenOverlay {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-color: rgba(255, 255, 255, 0.5); 
  z-index: 1000;
}


